    
#searchStudent,#searchTeacher,#searchCourse,#searchTeacherCourse{
    
    width: 200px;
    color: #222;
    font-size: 12px;
    overflow: hidden;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    border: 1px solid #ccc;
    box-shadow: none;
    border-radius:6px;
   
    outline: 0;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
	text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}
#searchStuSubmit,#searchTeacSubmit,#searchCorsSubmit,#searchTeacCorsSubmit{
	display:inline-block;
	width:80px;
	height: 32px;
    line-height: 32px;
    color:#333;
    border:none;
    background-color:#c8cdff;
}
.searchStudent,.searchTeacher,.searchCourse,.searchTeacherCourse{
	width:100%;
	height:52px;
	line-height:52px;
	background:rgba(221, 220, 255, 0.88);
	padding:10px 18px 10px 0;
}
.main-content{
	position:relative;
	top:140px;
	min-height:600px;
	
}
#classroomUl li{
	float:left;
	display:block;
	width:150px;
	height:40px;
	line-height:40px;
	border:1px solid #00a088;
	background:rgb(246, 255, 237);
	margin:10px 5px 10px 5px;
	text-align:center;
	font-size:15px;
}
#classroomUl li:hover{
	background:rgb(225, 222, 242);
}
#openCourseContainer{
	
}
#openCourserow{
	position:fixed;
	top:30%;
	z-index:10000;
	display:none;
	background:rgb(247, 248, 254);
	border: 2px solid #cdd1fc;
    box-shadow: 3px 2px 6px 0px #cdd1fc;
    
	
}
#openCourserow label{
	color:#333;
	font-size:14px;
	font-weight:500;
	font-family:"Microsoft YaHei";
	
}

#openCorsMess{
	position:fixed;
	top:30%;
	
	z-index:10001;
	display:none;
	background:rgb(247, 248, 254);
	border: 2px solid #cdd1fc;
    box-shadow: 3px 2px 6px 0px #cdd1fc;
    
	
}


#comment{
	width:90%;
	height:100px;
	margin:0 auto;
	
}
.teacComment span,.teacComment h4{
	color:#288690;
	margin-top:30px;
	font-size:16px;
	padding-left:20px;
	
}
.teacComment h3{
	 text-align:center;
	 color:#288690;
}
#commentContent{
	font-size:16px;
	line-height:40px;
	background: url(../images/column_bg.jpg) bottom center ;
   
	
	
}


#commentContent ul li{
	display: block;
    color:rgba(8, 8, 8, 0.7);
    width: 70%;
    padding: 5px 20px 5px 20px;
    margin: 0 auto;
 
    border-bottom: 1px solid #E0E0E0;
    background: rgba(255, 234, 234, 0.36);
}
#stuListTable{
	width:60%;
	margin:0 auto;
}
.corslist{
	background-color:#eef1fd;
	margin-top:10px;
	min-height:800px;
}
.corslist h3{
	color:#288690;
}
.corslist ul{
	margin-top:20px;
}
.corslist ul li{
	height:50px;
	line-height:50px;
	padding-left:20px;
	border-bottom:1px solid #eee;
	background-color:#fff;
	
}

.corslist .curr{
	background-color:rgba(187, 232, 198, 0.49);
}

#tabsquestion ul{
	margin-top:10px;
	background-color:#eef1fd;
}
#tabsquestion ul li a{
	color:#288690;
}
#txtarea{
	width:60%;
	min-height:150px;
}
#questionList li{
	font-size:16px;
	padding:5px 0 20px 10px;
	border-bottom:1px solid #fff;
}
.quesstu{
	font-size:14px;
	color:#c08a8a;
}
#teacquesList li{
	font-size:16px;
	
	line-height:30px;
	padding:5px 0 20px 10px;
	border-bottom:1px solid #fff;
}
#answerList li{
	font-size:16px;
	line-height:30px;
	padding:5px 0 20px 10px;
	border-bottom:1px solid #fff;
}
#teacansList li{
	font-size:16px;
	line-height:30px;
	padding:5px 0 20px 10px;
	border-bottom:1px solid #fff;
}

.headpanel .nav li span{
	position: absolute;
    top: -8px;
    left: 75px;
    border-radius: 9px;
    background: #f70900;
    width: 18px;
    text-align: center;
    color: #fff;

}